<footer class="text-muted py-5" th:fragment="footer">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#" th:text="#{footer.page.back.to.start}">Volver al inicio</a>
        </p>
        <p class="mb-1" th:text="#{footer.page.brand}">&copy; YoSuelto 2021.</p>
        <p class="mb-0" th:text="#{footer.page.main.text}">Podés donar todo lo que ya no usás y además elegir a quién. Podés leer nuestros <a href="/" th:text="#{footer.page.terms}">Términos y Condiciones</a>.</p>
    </div>
</footer>